{% extends 'feeds/base.html' %}
{% load static %}

{% block content %}
{% for feed in feeds %}
<section class="feed">
  <div class="feed-header">
    <img src="{% static 'feeds/images/profile.jpg' %}" alt="profile image"/>
    <span class="feed-title">{{feed.author}}</span>
    <a href="/accounts/{{feed.author.id}}/follow/">
      {% if user.is_authenticated and feed.author != request.user %}
        {% if feed.author.profile in request.user.profile.following.all %}
          팔로잉
        {% else %}
          팔로우
        {% endif %}
      {% endif %}
    </a>
  </div>
  <a href="/feeds/{{feed.id}}/">
    <img class="feed-content" src="{% static 'feeds/images/article.jpg' %}" alt="feed image"/>
  </a>
  <div class="feed-footer">
    <img class="buttons" src="{% static 'feeds/images/feed_buttons.png' %}" alt="feed buttons"/>
    {% if user.is_authenticated %}
      <a href="/feeds/{{feed.id}}/like/">
        {{ feed.like_users.count }} Likes
      </a>
    {% else %}
      <div>{{ feed.like_users.count }} Likes</div>
    {% endif %}
    <div class="feed-text">{{ feed.content }}</div>
    <a href="/feeds/{{feed.id}}/"><p>댓글이 {{ feed.comment_set.count }}개 있습니다</p></a>
    <p>{{ feed.comment_set.last.content }}</p>
    <div>{{feed.created_at}}</div>
    <form action="/feeds/{{feed.id}}/comments/" method="POST">
      {% csrf_token %}
      <div class="comment">
        <img src="{% static 'feeds/images/smile.png' %}" alt="feed comment image"/>
        <input name="content" type="text" placeholder="댓글 달기...">
      </div>
      <button type="submit">게시</button>
    </form>
  </div>
</section>
{% endfor %}
{% endblock content %}
