{% extends 'feeds/base.html' %}
{% load static %}

{% block content %}
<h1> {{request.user.get_username}}의 정보 수정 </h1>
<form method="POST" action="/accounts/mypage/">
  {% csrf_token %}
  <div>
    <div>College</div>
    <input name="college" type="text" value="{{request.user.profile.college}}">
  </div>
  <div>
    <div>Major</div>
    <input name="major" type="text" value="{{request.user.profile.major}}">
  </div>
  <input type="submit" value="save">
</form>

<h1>{{request.user.like_feeds.count}} Liked Feeds</h1>
{% for feed in request.user.like_feeds.all %}
<a href="/feeds/{{feed.id}}/">{{feed.content}}</a>
{% endfor %}

<h1>{{request.user.profile.following.count}} following</h1>
{% for following in request.user.profile.following.all %}
<a>{{following.user.username}}</a>
{% endfor %}

<h1>{{request.user.profile.followers.count}} followers</h1>
{% for follower in request.user.profile.followers.all %}
<a>{{follower.user.username}}</a>
{% endfor %}

{% endblock content %}
